body {
    font-family: "Unbounded", sans-serif;
    background-color: black;
    margin: 0;
}
 
#tic {
    padding: 0;
    position:absolute;
    top: -100%;
    left: 35%;
    animation: anim 1s forwards;
}

#tic h1 {
    font-size: 50px;
    color: rgb(255, 54, 54);
}

@keyframes anim {
    from{
        top: -100%;
    }
    to{
        top: 10%;
        left: 35%;
    }
}

#tac {
    padding: 0;
    position:absolute;
    top: -100%;
    left: 45%;
    animation: anim1 2s forwards;
}

#tac h1 {
    font-size: 50px;
    color: white;
}

@keyframes anim1 {
    from{
        top: -100%;
    }
    to{
        top: 10%;
        left: 45%;
    }
}

#toe{
    padding: 0;
    position:absolute;
    top: -100%;
    left: 55%;
    animation: anim2 3s forwards;
}

#toe h1 {
    font-size: 50px;
    color: rgb(92, 74, 255);
}

@keyframes anim2 {
    from{
        top: -100%;
    }
    to{
        top: 10%;
        left: 55%;
    }
}