body {
    font-family: "Unbounded", sans-serif;
    background-color: black;
    margin: 0;
}

/* Landing Page Animation */
 
#tic {
    padding: 0;
    position:absolute;
    top: -100%;
    left: 35%;
    animation: anim 1s forwards;
}

#tic h1 {
    font-size: 50px;
    color: rgb(255, 54, 54);
}

@keyframes anim {
    from{
        top: -100%;
    }
    to{
        top: 5%;
        left: 37vw;
    }
}

#tac {
    padding: 0;
    position:absolute;
    top: -100%;
    left: 45%;
    animation: anim1 2s forwards;
}

#tac h1 {
    font-size: 50px;
    color: white;
}

@keyframes anim1 {
    from{
        top: -100%;
    }
    to{
        top: 5%;
        left: 45vw;
    }
}

#toe {
    padding: 0;
    position:absolute;
    top: -100%;
    left: 55%;
    animation: anim2 3s forwards;
}

#toe h1 {
    font-size: 50px;
    color: rgb(92, 74, 255);
}

@keyframes anim2 {
    from{
        top: -100%;
    }
    to{
        top: 5%;
        left: 55vw;
    }
}

#button {
    padding: 0;
    position: absolute;
    width: 150px;
    height: 50px;
    top: 35%;
    left: 45%;
    text-size-adjust: 10px;
    animation: anim3 5s forwards;
    animation-delay: 3s;
    background-color: black;
}

@keyframes anim3 {
    from{
        opacity: 0.0;
    }
    to{
        color: white;
        border-color: white;
        opacity: 1.0;
    }
}

/* Game Display Area */

#game-board {
    display: none;
    position: relative;
    background-color: black;
    margin-top: 12%;
    height: 470px;
    width: 100%;
}

#backboard {
    background-color: white;
    overflow: hidden;
    margin-top: 10%;
    left: 38vw;
    width: 324px;
    height: 65%;
    position: absolute;
    white-space: nowrap;
}

#backboard .game-area1 {
    background-color: black;
    width: 106px;
    height: 100px;
    display: inline-table;
}

#backboard .game-area2 {
    position: relative;
    background-color: black;
    width: 106px;
    height: 100px;
    top: 34%;
    left: -102%;
    display: inline-table;
}

#backboard .game-area3 {
    position: relative;
    background-color: black;
    width: 106px;
    left: -204%;
    top: 68%;
    height: 100px;
    display: inline-table;
}

/* Game mode selection */

#game-mode {
    top: 2%;
    background-color: black;
    height: 30px;
    width: 60%;
    margin-left: 17vw;
}

a {
    margin-left: 16vw;
    font-size: x-large;
    color: white;
    text-decoration: none;
}

a:active {
    color: red;
}

/* X and O style */

.x::after {
    content: 'X';
    font-size: 100px;
    color: red;
    display: flex;
    justify-content: center;
    height: 0;
}

.o::after {
    content: 'O';
    font-size: 100px;
    color: rgb(92, 74, 255);
    display: flex;
    justify-content: center;
    height: 0;
}

/* Play Again Screen */

#restart {
    display: none;
    padding: 0;
    position: absolute;
    width: 150px;
    height: 50px;
    top: 15%;
    left: 45%;
}