body {
    font-family: "Unbounded", sans-serif;
    background-color: black;
    margin: 0;
}

/* Landing Page Animation */
 
#tic {
    padding: 0;
    position:absolute;
    top: -100%;
    left: 35%;
    animation: anim 1s forwards;
}

#tic h1 {
    font-size: 50px;
    color: rgb(255, 54, 54);
}

@keyframes anim {
    from{
        top: -100%;
    }
    to{
        top: 5%;
        left: 35%;
    }
}

#tac {
    padding: 0;
    position:absolute;
    top: -100%;
    left: 45%;
    animation: anim1 2s forwards;
}

#tac h1 {
    font-size: 50px;
    color: white;
}

@keyframes anim1 {
    from{
        top: -100%;
    }
    to{
        top: 5%;
        left: 45%;
    }
}

#toe {
    padding: 0;
    position:absolute;
    top: -100%;
    left: 55%;
    animation: anim2 3s forwards;
}

#toe h1 {
    font-size: 50px;
    color: rgb(92, 74, 255);
}

@keyframes anim2 {
    from{
        top: -100%;
    }
    to{
        top: 5%;
        left: 55%;
    }
}

#button {
    padding: 0;
    position: absolute;
    width: 150px;
    height: 50px;
    top: 35%;
    left: 45%;
    animation: anim3 5s forwards;
    animation-delay: 3s;
    background-color: black;
}

@keyframes anim3 {
    from{
        opacity: 0.0;
    }
    to{
        color: white;
        border-color: white;
        opacity: 1.0;
    }
}

/* Game Display Area */

#game-board {
    display: none;
    position: relative;
    background-color: rgb(92, 92, 92);
    margin-top: 12%;
    height: 470px;
    width: 100%;
}

#backboard {
    background-color: white;
    margin-top: 3%;
    left: 35vw;
    width: 32%;
    height: 83%;
    position: absolute;
    overflow: hidden;
}

#backboard div {
    background-color: black;
    position: relative;
    width: 100px;
    height: 100px;
    left: 37vw;
    margin-top: 5%;
    display: inline-table;
}
